<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.InvokedMethodListener"></listener>
	</listeners>
	<test name="com.FirstTest.chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.FirstTest"/>
			<class name="com.SecondTest"/>
		</classes>
	</test>
	<test name="com.FirstTest.firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.FirstTest">
				<methods>
					<include name="testLoginok" />
					<include name="testRegisterKo" />
					<include name="testRegistroKoYaExiste" />
				</methods>
			</class>
		</classes>
	</test>

</suite>